@page
@model DoctorApp.Pages.Doctors.CreateModel
@{
	ViewData["title"] = "Create";
}

<h3>@ViewData["title"]</h3>
<hr />

<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div class="form-group">
				<label asp-for="Doctors.DrFName" class="control-label"></label>
				<input asp-for="Doctors.DrFName" class="form-control" />
				<span asp-validation-for="Doctors.DrFName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Doctors.DrLName" class="control-label"></label>
				<input asp-for="Doctors.DrLName" class="form-control" />
				<span asp-validation-for="Doctors.DrLName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Doctors.DrMName" class="control-label"></label>
				<input asp-for="Doctors.DrMName" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Doctors.SpecialityID" class="control-label"></label>
				<select class="form-control" name="Doctors.SpecialityID">
				@foreach(var option in Model.Options){
						<option value="@option.Value">@Html.DisplayFor(item => option.Text)</option>
				}
				</select>
				<span asp-validation-for="Doctors.SpecialityID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Doctors.EmailPersonal" class="control-label"></label>
				<input asp-for="Doctors.EmailPersonal" class="form-control" />
				<span asp-validation-for="Doctors.EmailPersonal" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Doctors.EmailWork" class="control-label"></label>
				<input asp-for="Doctors.EmailWork" class=" form-control" />
				<span asp-validation-for="Doctors.EmailWork" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Doctors.PersonalCell" class="control-label"></label>
				<input asp-for="Doctors.PersonalCell" class=" form-control" />
				<span asp-validation-for="Doctors.PersonalCell" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Doctors.EmailWork" class="control-label"></label>
				<input asp-for="Doctors.EmailWork" class=" form-control" />
				<span asp-validation-for="Doctors.EmailWork" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Doctors.IsActive" class="control-label"></label>
				<input asp-for="Doctors.IsActive" class=" form-check-input" />
				<span asp-validation-for="Doctors.IsActive" class="text-danger"></span>
			</div>
			<div class="form-group mt-2">
				<input type="submit" value="Create" class="btn btn-primary" />
				<a class="btn btn-success" asp-page="Index">Doctor List</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

