@page
@model DoctorApp.Pages.Doctors.DetailsModel
@{
	ViewData["title"] = "Details";
}

<h3>@ViewData["title"]</h3>
<hr />

<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div class="form-group">
				<label asp-for="JoinedResults.DrFName" class="control-label"></label>
				<input asp-for="JoinedResults.DrFName" readonly class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="JoinedResults.DrLName" class="control-label"></label>
				<input asp-for="JoinedResults.DrLName" readonly class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="JoinedResults.SpecialityName" class="control-label"></label>
				<input asp-for="JoinedResults.SpecialityName" readonly class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="InsuranceCompanies" class="control-label"></label>
				<div>
					@foreach (var company in Model.InsuranceCompanies)
					{
						<span><b>@company</b></span> <span> </span>
					}
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Addresses.Street1" class="control-label"></label>
				<input asp-for="Addresses.Street1" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Addresses.Street2" class="control-label"></label>
				<input asp-for="Addresses.Street2" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Addresses.ZipCode" class="control-label"></label>
				<input asp-for="Addresses.ZipCode" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Addresses.City" class="control-label"></label>
				<input asp-for="Addresses.City" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Addresses.State" class="control-label"></label>
				<input asp-for="Addresses.State" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Addresses.TelAddress" class="control-label"></label>
				<input asp-for="Addresses.TelAddress" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Addresses.FaxAddress" class="control-label"></label>
				<input asp-for="Addresses.FaxAddress" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="JoinedResults.EmailPersonal" class="control-label"></label>
				<input asp-for="JoinedResults.EmailPersonal" readonly class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="JoinedResults.EmailWork" class="control-label"></label>
				<input asp-for="JoinedResults.EmailWork" readonly class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="JoinedResults.PersonalCell" class="control-label"></label>
				<input asp-for="JoinedResults.PersonalCell" readonly class="form-control" />
			</div>
			<div class="form-group mt-2">
				<a class="btn btn-success" asp-page="Index">Insurance Companies List</a>
			</div>
		</form>
	</div>
</div>

