@page
@model DoctorApp.Pages.Specialties.CreateModel
@{
	ViewData["title"] = "Create";
}

<h3>@ViewData["title"]</h3>
<hr />

<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div class="form-group">
				<label asp-for="Specialties.SpecialityName" class="control-label"></label>
				<input asp-for="Specialties.SpecialityName" class="form-control" />
				<span asp-validation-for="Specialties.SpecialityName" class="text-danger"></span>
			</div>
			<div class="form-group mt-2">
				<input type="submit" value="Create" class="btn btn-primary" />
				<a class="btn btn-success" asp-page="Index">Specialty List</a>
			</div>
			@foreach (var key in ViewData.ModelState.Keys)
			{
				foreach (var error in ViewData.ModelState[key].Errors)
				{
					<div>@error.ErrorMessage</div>
				}
			}
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

