@page
@model DoctorApp.Pages.Specialties.DeleteModel
@{
	ViewData["Title"] = "Delete";
}

<h3>@ViewData["Title"]</h3>
<hr />

<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div class="form-group">
				<label asp-for="Specialties.SpecialityName" class="control-label"></label>
				<input asp-for="Specialties.SpecialityName" readonly class="form-control" />
			</div>
			<div class="form-group mt-2">
				<input type="submit" value="Delete" class="btn btn-primary" />
				<a class="btn btn-success" asp-page="Index">Specialty List</a>
			</div>
		</form>
	</div>
</div>
